<div class="p-4 sm:ml-64">
  <div class="p-4 rounded-lg dark:border-gray-700 mt-20">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Code</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Group</th>
            <th scope="col" class="px-6 py-3">Unit</th>
            <th scope="col" class="px-6 py-3">Sales Price</th>
            <th scope="col" class="px-6 py-3">Stock</th>
            <th scope="col" class="px-6 py-3"><span class="sr-only">Edit</span></th>
          </tr>
        </thead>
        <tbody>
          @if (contentList.length > 0) {
            @for (item of contentList; track item.code) {
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ item.code }}
                </th>
                <td class="px-6 py-4">{{ item.name }}</td>
                <td class="px-6 py-4">{{ item.groupId }}</td>
                <td class="px-6 py-4">{{ item.unitId }}</td>
                <td class="px-6 py-4">{{ item.salePrice | currency:'BRL':'symbol' }}</td>
                <td class="px-6 py-4">{{ item.stock }}</td>
                <td class="px-6 py-4 text-right">
                  <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
              </tr>
            }
          } @else {
            Empty list of users
          }
        </tbody>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>