<!-- Main modal -->
  <div id="product-form-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Adicionar Novo Produto
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="product-form-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Fechar</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form [formGroup]="productForm" (ngSubmit)="save()" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                      <label for="code" [ngClass]="{ 'text-red-700 dark:text-red-500': productForm.get('code')?.invalid && productForm.get('code')?.touched, 'text-gray-900 dark:text-white': !productForm.get('code')?.invalid || !productForm.get('code')?.touched }" class="block mb-2 text-sm font-medium">
                        Código*
                      </label>
                      <input 
                        type="text" 
                        id="code"
                        name="code" 
                        formControlName="code" 
                        [ngClass]="{
                          'bg-gray-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': productForm.get('code')?.invalid && productForm.get('code')?.touched,
                          'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': !productForm.get('code')?.invalid || !productForm.get('code')?.touched
                        }"
                        class="text-sm rounded-lg block w-full p-2.5"
                        placeholder="Código do produto">
                    </div>          
                    <div class="col-span-2">
                        <label for="name" [ngClass]="{ 'text-red-700 dark:text-red-500': productForm.get('name')?.invalid && productForm.get('name')?.touched, 'text-gray-900 dark:text-white': !productForm.get('name')?.invalid || !productForm.get('name')?.touched }" class="block mb-2 text-sm font-medium">
                            Descrição*
                          </label>
                          <input 
                            type="text" 
                            id="name"
                            name="name" 
                            formControlName="name" 
                            [ngClass]="{
                              'bg-gray-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500': productForm.get('name')?.invalid && productForm.get('name')?.touched,
                              'bg-gray-50 border border-gray-300 text-gray-900 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': !productForm.get('name')?.invalid || !productForm.get('name')?.touched
                            }"
                            class="text-sm rounded-lg block w-full p-2.5"
                            placeholder="Nome">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preço de venda*</label>
                        <input type="number" name="price" id="price" formControlName="salePrice" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="R$ 2999,99">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unidade de medida*</label>
                        <select id="unit" formControlName="unitId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="" disabled selected></option>
                            <option value="1">Unidade</option>
                            <option value="2">Caixa</option>
                            <option value="3">Quilograma</option>
                            <option value="4">Metro</option>
                        </select>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Qtde. Estoque</label>
                        <input type="number" name="stock" id="stock" formControlName="stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="0">
                    </div>
                      <div class="col-span-2 sm:col-span-1">
                          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Grupo</label>
                          <select id="category" formControlName="groupId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="" disabled selected></option>
                                <option value="1">TV/Monitors</option>
                                <option value="2">PC</option>
                                <option value="3">Gaming/Console</option>
                                <option value="4">Phones</option>
                          </select>
                      </div>
                      <div class="col-span-2">
                          <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observações</label>
                          <textarea id="description" rows="4" formControlName="image" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="(Opcional) escreva a observação do produto aqui..."></textarea>                    
                      </div>
                  </div>
                <button type="submit"
                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                    </svg>
                    Adicionar produto
                </button>
              </form>
          </div>
      </div>
  </div>